html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 17px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
* {
  box-sizing: border-box;
}


:root {
  --main-p: 1rem;
  --dense-p: 0.5rem;

  --page-hor-p: 23%;
  --page-vert-p: 2rem;
  
  @include mobile-screen {
    --page-hor-p: 2rem;
  }


  // colors
  --light-gray: #aaa;
}